* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*------------------ir-arriba-------------*/

.ir-arriba {
    display: none;
    padding: 20px;
    background-color: #4D96D1;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


/*-------------------------------------------*/

.lineaarriba {
    /*outline: 2px red solid;*/
    width: 100%;
    height: 28px;
    /*height: auto;*/
    /*overflow: hidden;*/
    background-color: #4D96D1;
    /*background-color: #231D57*/
}

.lineadentro {
    /*outline: 2px red solid;*/
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0px 10px 0px;
}

.contenpuntonsmas {
    /*outline: 2px green solid;*/
    width: 18%;
    float: left;
    margin-left: 2%;
}

.puntoslineas {
    /*outline: 2px red solid;*/
    float: left;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
    /*margin-left: 10%;*/
    font-size: 13px;
    margin-left: 5%;
}

.mas {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
    margin-right: 20%;
    font-size: 13px;
}


/*------------------header-----------*/

header {
    /*outline: 2px red solid;*/
    /*height: 190px;*/
    width: 100%;
}

figure {
    /*outline: 2px red solid;*/
    margin-left: 10%;
    float: left;
    visibility: hidden;
}

figure .imglogo {
    /*outline: 2px red solid;*/
}

.contenedormenu {
    /*outline: 2px red solid;*/
    float: right;
    margin-right: 10%;
    width: 42%;
    margin-top: 2%;
    visibility: hidden;
}

.nombre {
    border-bottom: 1px gray solid;
    width: 100%;
    /*text-align: center;*/
    padding-bottom: 10px;
}

.conteniconos,
.bishul {
    display: inline-block;
    vertical-align: top;
}

.conteniconos {
    /*float: left;*/
    width: 20%;
    margin-left: 9%;
}

.bishul {
    /*float: right;*/
    font-family: 'Roboto', sans-serif;
    color: #231D57;
    font-weight: bold;
    font-size: 16px;
    margin-left: 15%;
}

.bishul b {
    font-family: 'Roboto', sans-serif;
    color: #231D57;
    font-size: 20px;
}

.icon-drink,
.icon-cake,
.icon-bowl {
    font-family: 'Roboto', sans-serif;
    color: #231D57;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10%;
}


/*-------------------------------menu--------------------*/

.nav1 {
    /*outline: 2px red solid;*/
    margin-top: 7%;
    width: 100%;
}

.nav2 {
    width: 100%;
}

.nav2 li {
    list-style: none;
    float: left;
    padding: 15px 19px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.nav2 li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.nav2 li:hover {
    background-color: #4D96D1;
}

.seleccion {
    /*color: red;*/
    background-color: #4D96D1;
    color: #fff;
}


/*---------------------slide--------------------*/

.slide {
    overflow: hidden;
    width: 100%;
    height: 520px;
    background: url('../img/slide.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}


/*--------------------servicios index--------------*/

.contenser {
    /*outline: 2px red solid;*/
    width: 100%;
    overflow: hidden;
    /*margin-top: 5%;*/
    /*text-align: center;*/
}

.h1 {
    color: #231D57;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 50px;
    width: 25%;
    border-bottom: 1px gray solid;
    overflow: hidden;
    letter-spacing: 4px;
    text-align: center;
}

.servicios {
    /*outline: 2px red solid;*/
    margin-top: 2%;
    width: 100%;
    /*overflow: hidden;*/
}

.conten-precios {
    /*outline: 2px green solid;*/
    width: 75%;
    margin: 0 auto;
    padding: 15px 0px 15px 0px;
    /*text-align: center;*/
    overflow: hidden;
}

.tabla-precios {
    background-color: #F1F5EE;
    /*border: 2px red solid;*/
    float: left;
    width: 315px;
    /*margin: 0 10px;*/
    /*margin: 0 auto;*/
    margin-left: 2%;
    text-align: center;
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    height: 590px;
}

.tabla-precios:hover {
    -moz-transition: transform: scale(1.06);
    -webkit-transition: transform: scale(1.06);
    -o-transition: transform: scale(1.06);
    transform: scale(1.06);
    background-color: #4D96D1;
}

.pricing-title {
    /*outline: 2px black solid;*/
    /*background-color: #e95846;*/
    padding: 15px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 22px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.contencir {
    /*outline: 2px green solid;*/
    /*width: 100%;*/
    /*background-color: rgba(0, 0, 0, 0.4);*/
    width: 100%;
    /*margin: 0 auto;*/
    margin-top: 4%;
    color: white;
    /*text-align: center;*/
}

.contencir .img {
    /*outline: 2px red solid;*/
    margin: 0 auto;
}

.diseñado {
    /*outline: 2px red solid;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5%;
}

.texto_tabla {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px 8px 0px 8px;
    margin-top: 5%;
    line-height: 25px;
}

.boton_tabla {
    text-decoration: none;
}

.contratar {
    width: 95%;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 10%;
}

.contratar:hover {
    background-color: #F1F8EE;
    color: black;
}

.btnser {
    /*border: 2px red solid;*/
    width: 100%;
    text-align: center;
    margin-top: 3%;
    padding: 20px;
}

.btnser a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    background-color: #231D57;
}

.btnser a:hover {
    background-color: #4D96D1;
    color: #000;
}


/*--------------------------galeria index-------------*/

.gal {
    margin-bottom: 3%;
}

.galeriaindex {
    /*border: 2px red solid;*/
    width: 100%;
    margin-top: 5%;
    background-color: #d6eaf8;
    overflow: hidden;
}

.titulo {
    /*outline: 2px red solid;*/
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.fila2 {
    margin-top: 3%;
}


/*---------------footer-------------*/

footer {
    height: 80px;
    width: 100%;
    background-color: #272727;
    /*margin-top: 5%;*/
    overflow: hidden;
}

.contenimagenhora {
    /*outline: 2px red solid;*/
    width: 100%;
    margin-top: 2%;
}

.imgdirectelcorreo {
    /*outline: 2px green solid;*/
    width: 50%;
    float: left;
}

.hora {
    /*outline: 2px yellow solid;*/
    width: 40%;
    float: right;
}

.bishulpie {
    /*outline: 2px white solid;*/
    width: 70%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FFF;
    margin-top: 1%;
    margin-left: 5%;
    text-align: right;
}

.derechos {
    width: 90%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FFF;
    margin-top: 1%;
    margin-left: 5%;
    /*text-align: right;*/
}


/*----------------------------contacto-----------------*/

.titcontacto {
    /*outline: 2px red solid;*/
    width: 100%;
    height: 90px;
    overflow: hidden;
    background-color: #FBFBFB;
    border-top: 2px #d0d3d4 solid;
    border-bottom: 2px #d0d3d4 solid;
}

.tituloapartado {
    /*outline: 2px green solid;*/
    width: 20%;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 10%;
    color: #626567;
    margin-top: 1.5%;
    float: left;
}

.submenu {
    float: right;
    width: 22%;
    margin-top: 2%;
}

.submenu li {
    float: left;
    list-style: none;
    margin-left: 2%;
}

.submenu {
    text-decoration: none;
    color: #d0d3d4;
}

.cambio {
    color: #515a5a;
}

.bannercontacto {
    /*border: 2px red solid;*/
    overflow: hidden;
    width: 100%;
    /*height: 520px;*/
    /*background: url('../img/contac.jpg') no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;*/
    margin-bottom: 5%;
}

.textobanner {
    border: 1px #515a5a solid;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    padding: 20px;
    color: #515a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    /*font-weight: bold;*/
}

.contenedorform {
    /*outline: 2px red solid;*/
    width: 40%;
    /*margin: 0 auto;*/
    margin-left: 5%;
    margin-top: 2%;
    overflow: hidden;
    float: left;
}

.tituloform {
    /*outline: 2px red solid;*/
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: #4D96D1;
    color: white;
}

.mapa {
    float: right;
    width: 40%;
    margin-right: 5%;
    margin-top: 2%;
    overflow: hidden;
}

.contienedatos {
    /*border: 2px red solid;*/
    margin-top: 8%;
    width: 100%;
    overflow: hidden;
}

.direccion {
    width: 100%;
}

.icon-location,
.direc {
    display: inline-block;
    vertical-align: top;
}

.icon-location,
.icon-mail,
.icon-clock,
.icon-phone {
    font-size: 50px;
    color: #4D96D1;
}

.direc {
    width: 90%;
    text-align: center;
    padding-bottom: 10px;
    color: #515a5a;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-bottom: 1px #515a5a solid;
}

.icon-location,
.correo {
    display: inline-block;
    vertical-align: top;
}

.correo {
    margin-top: 2%;
    width: 42%;
    /*text-align: center;*/
    text-align: center;
    padding-bottom: 10px;
    color: #515a5a;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-bottom: 1px #515a5a solid;
}
